@media (max-width: 768px) {
    /* .hero-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .page-title {
        font-size: 2rem;
    }

    .steps-grid {
        grid-template-columns: 1fr;
    }

    .step-card {
        padding: 1.5rem;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .summary-stages {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .button-group {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        max-width: 300px;
    } */
}

@media (max-width: 1150px) {
    #landing-page.sidsailpoint-landingScreen {
        padding: 60px;
    }

    #landing-page .sidsailpoint-landingScreen .flex {
        gap: 50px;
    }

    #landing-page .sidsailpoint-heroDescription {
        margin-top: 30px;
    }

    #landing-page .sidsailpoint-heroContent h1 {
        font-size: 45px;
    }

    #landing-page .sidsailpoint-heroContent span,
    #landing-page .sidsailpoint-ctaDescription {
        font-size: 16px;
    }

    #landing-page .sidsailpoint-heroContent span {
        margin-bottom: 20px;
    }
}

@media (max-width: 1050px) {
    #landing-page.sidsailpoint-landingScreen {
        height: 100%;
    }

    #landing-page.sidsailpoint-landingScreen .flex {
        flex-direction: column;
    }

    #landing-page .hero-img {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    #landing-page.sidsailpoint-landingScreen {
        padding: 40px 35px;
    }

    #landing-page .sidsailpoint-heroContent h1,
    #landing-page .sidsailpoint-heroContent h1 span {
        font-size: 28px;
        line-height: 120%;
    }

    #landing-page .sidsailpoint-heroContent h1 br{
        display: none;
    }
    #landing-page .sidsailpoint-heroDescription{
        padding: 25px;
    }

    #landing-page .sidsailpoint-heroContent span{
        font-size: 14px;
        line-height: 160%;
        margin-bottom: 15px;
    }

    #landing-page .sidsailpoint-ctaTitle{
        font-size: 28px;
        line-height: 120%;
    }
}